h1 {
  text-align: center;
  font-size: 3em;
}

.box {
  height: 450px;
  width: 49%;
  background-color: #0066FF;
  float: left;
  margin: 5px;
}

.btn {
  text-align: center;
}

h2 {
  font-size: 4.5em;
  color: white;
  text-align: center;
}

h3 {
  font-size: 5em;
  color: white;
  text-align: center;
}

h4 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.increment {
  background-color: #0066FF;
  margin: auto;
  height: 275px;
  width: 100%;
  text-align: center;
}
